@Scripts.Render("~/bundles/angularJS")
@Scripts.Render("~/bundles/appJS")

<div ng-app="FTModule">

    <div ng-controller="FTController">

        @{
            ViewBag.Title = "FilmTrack";
        }

        {{ numOfBulbs }}
        <label for="numOfBulbs">Number of bulbs:</label>
        <input type="number" id="numOfBulbs" ng-model="numOfBulbs" ng-change="showBulbs()"/>
        <h2>FilmTrack</h2>

        <table>
            <tr ng-repeat="eachBulb in bulbs track by $index">
                <td>&#x1F4A1;</td>
            </tr>
        </table>
        <td ng-show="eachBulb" style="background-color:white; font-size:xx-large"></td>
        <td ng-show="!eachBulb" style="background-color:black; font-size:xx-large">&#x1F4A1;</td>


    </div>
</div>