@Scripts.Render("~/bundles/angularJS")
@Scripts.Render("~/bundles/appJS")

<div ng-app="FTModule">

    <div ng-controller="FTController">

        @{
            ViewBag.Title = "FilmTrack";
        }
        <br/>
        
        <label for="numOfBulbs">Number of bulbs:</label>
        <input type="number" id="numOfBulbs" ng-model="numOfBulbs" ng-change="showBulbs()" min="0"/>
        <br/>
        <label for="numOfPeople">Number of People:</label>
        <input type="number" id="numOfPeople" ng-model="numOfPeople" ng-change="showBulbs()" min="0">

        <table>
            <tr ng-show="numOfBulbs">
                <td>ON:</td>
                <td>{{ ON_count }}</td>
            </tr>
            <tr ng-show="numOfBulbs">
                <td>OFF:</td>
                <td>{{ OFF_count }}</td>
            </tr>
            <tr ng-repeat="isBulbOn in bulbs track by $index">
                <td>{{ $index + 1 }}</td>
                <td ng-class="{ bulb_ON: isBulbOn, bulb_OFF: !isBulbOn}">&#x1F4A1;</td>
            </tr>
        </table>

    </div>
</div>