@Scripts.Render("~/bundles/angularJS")
@Scripts.Render("~/bundles/appJS")

<div ng-app="FTModule">

    <div ng-controller="FTController">

        @{
            ViewBag.Title = "FilmTrack";
        }
        
        <h2>FilmTrack</h2>

        <label for="numOfBulbs">Number of bulbs:</label>
        <input type="number" id="numOfBulbs" ng-model="numOfBulbs" ng-change="showBulbs()" min="0"/>
        <br/>
        <label for="numOfPeople">Number of People:</label>
        <input type="number" id="numOfPeople" ng-model="numOfPeople" ng-change="showBulbs()" min="0">

        <table>
            <tr ng-repeat="isBulbOn in bulbs track by $index">
                <td ng-class="{ bulbON: isBulbOn, bulbOFF: !isBulbOn}">&#x1F4A1;</td>
            </tr>
        </table>

    </div>
</div>